
# DB CONNECTION STRING (NEON)
DATABASE_URL= your_neon_db_connection_string

# REDIS URL
REDIS_URL=redis://localhost:6380

# ACCESS TOKEN
ACCESS_TOKEN_SECRET=your_access_token_secret
ACCESS_TOKEN_EXPIRY=15m
ACCESS_COOKIE_MAX_AGE=900000

# REFRESH TOKEN AND COOKIE SETUP
REFRESH_TOKEN_EXPIRY=7d
REFRESH_COOKIE_MAX_AGE=604800000
REFRESH_TOKEN_SECRET=your_refresh_token_secret

# HASH SALT
SALT_ROUNDS=12

# SERVER OPTIONS
PORT=9000
NODE_ENV=development
CLIENT_ORIGIN=http://localhost:5173
SERVER_ORIGIN=http://localhost:9000

// BREVO VERIFICATION
SENDER_EMAIL=your_brevo_sender_email (sende should be verified)
SMTP_USER=your_brevo_login (ends like this: @smtp-brevo.com)
SMTP_PASS=your_brevo_smtp_generated_key

# NODEMAILER STMP (FOR TESTING)
TEST_USER=your_gmail
TEST_PASS=your_app_pass

# PRODUCT IMAGES MANAGEMENT
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

# PAYMENT VERIFICATION 
PAYMENT_API_KEY=your_leul_verify_api_key

# SEED USER CONFIGURATION
SEED_USER_ID=your_seed_user_id